body {
  font-family: 'Noto Sans Japanese', serif;
}
.navbar-brand{
  font-family: 'Baloo Da', cursive;
  padding: 22px 16px 14px 28px;
  font-size:36px;
  span.accent{
    color:$accent-color;
  }
  b.beta{
    display: inline-block;
    font-size:18px;
    color:rgb(234, 109, 142);
    transform:translateY(-10px) translateX(-2px);
  }
}

.top-container{
  padding: 50px 0 40px 0;
}

.footer {

  width: 100%;
  height: 140px;
  background-color: #eee;
  .container {
    padding-right: 15px;
    padding-left: 15px;
    .text-muted {
      margin: 20px 0;
    }
  }
}
.top-contents{
  background-color: #EDEAE3;
}
